%section.marketing
  %h1 Cloudtracker 2.0

  %p
    At one point in time, the fine folks at
    %a(href="http://mindmatters.de/") mindmatters
    built a social media monitoring tool called "Cloudtracker"
  %p.spaced
    Unfortunately, that didn't really work out,
    %em so we pivoted.

  %p
    Cloudtracker 2.0 is an experiment in web audio technologies, as well
    as a celebration of an almost forgotten genre of music software:
    %strong The Tracker
  %p
    Karsten Obarski published his first version of "The Ultimate Soundtracker" almost exactly 25 years ago.
  %p
    Five years later, Protracker saw the light of the world, an open source, freely available music editor
    that quickly became popular in the AMIGA scene.
  %p
    Now, 20 years later, we're able to show you a running (albeit incomplete) version of Protracker, running in your browser!

  %h2 Compatibility notes

  %p
    Cloudtracker needs a decent version of Chrome or Safari (>= 6), since it uses the Web Audio API and other HTML5 technologies currently only
    available in these two browsers. That will hopefully change over time (The Firefox team already started to implement the Web Audio API.)

  %p
    Since the editor does some pretty heavy and inefficient DOM wrangling, this will currently not work on mobile devices. I am working on a player
    interface that will allow you to play back the tunes on at least mobile webkit on iOS 6+ and Chrome on Android 4+

  %h2 Usage

  %p
    You can log in using soundcloud and then upload any 4-Channel Protracker mod file as a starting point. I'm working on more editing functions,
    but currently that's the only way to start. You can also listen to one of my example files, but you can't save them (although the editor tells you you can.)

  %ul
    %li
      %a(href="http://cloudtracker.fm/users/halfbyte/mods/3") My Own Thing (House basterd)
    %li
      %a(href="http://cloudtracker.fm/users/halfbyte/mods/5") Symposium Go?



