%section.marketing
  %h1 Cloudtracker 2.0

  %p
    At one point in time, the fine folks at
    %a(href="http://mindmatters.de/") mindmatters
    built a social media monitoring tool called "Cloudtracker"
  %p.spaced
    Unfortunately, that didn't really work out,
    %em so we pivoted.

  %p
    Cloudtracker 2.0 is an experiment in web audio technologies, as well
    as a celebration of an almost forgotten genre of music software:
    %strong The Tracker
  %p
    Karsten Obarski published his first version of "The Ultimate Soundtracker" almost exactly 25 years ago.
  %p
    Five years later, Protracker saw the light of the world, an open source, freely available music editor
    that quickly became popular in the AMIGA scene.
  %p
    Now, 20 years later, we're able to show you a running (albeit incomplete) version of Protracker, running in your browser!

  %h2 Compatibility notes

  %p
    Cloudtracker needs a new-ish version of Chrome or Firefox, since it uses Audio APIs and other HTML5 technologies only
    available in these two browsers. That will hopefully change over time.

