/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "C64 User Mono";
  src: url("C64_User_Mono_v1.0-STYLE.eot");
  src: local("☺"), url("C64_User_Mono_v1.0-STYLE.woff") format("woff"), url("C64_User_Mono_v1.0-STYLE.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* line 4, ../sass/partials/_tracker.sass */
body {
  background: transparent url(/images/protracker_bg.png) top left no-repeat;
}

/* line 7, ../sass/partials/_tracker.sass */
#trackerpane {
  position: absolute;
  top: 416px;
  left: 12px;
  height: 340px;
  width: 940px;
  overflow: hidden;
}
/* line 15, ../sass/partials/_tracker.sass */
#trackerpane .tracker {
  width: 1000px;
  font-family: "C64 User Mono", "Menlo", "Courier New", monospaced;
  font-size: 1.2em;
  letter-spacing: 0.2em;
}
/* line 20, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 24, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern .row {
  overflow: hidden;
  *zoom: 1;
  color: white;
  padding: 3px 5px;
  height: 15px;
  line-height: 15px;
}
/* line 30, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern .row.active {
  color: black;
  padding: 5px 5px;
  height: 36px;
  line-height: 36px;
}
/* line 37, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern .row .row-num {
  float: left;
  width: 50px;
  margin-right: 30px;
  text-align: right;
}
/* line 42, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern .row .cell {
  float: left;
  width: 200px;
  margin-right: 16px;
}
/* line 46, ../sass/partials/_tracker.sass */
#trackerpane .tracker .pattern .row .cell:last-child {
  margin-right: 0;
}

/* line 13, ../sass/screen.scss */
button#playcontrol {
  color: #ccc;
}
/* line 15, ../sass/screen.scss */
button#playcontrol.active {
  color: #000;
}
