.tracker
  width: $pane-width - 4px
  font-family: $standard-font
  font-size: $default-font-size
  .pattern
    position: absolute
    top: 0
    left: 0
    .row
      +clearfix
      color: #fff
      height: calculate_height(1) + (2 * $factor)
      line-height: calculate_height(1) + (2 * $factor)
      &.active
        color: #000
      .row-num
        float: left
        width: (2 * $button-tiny-width) - (2 * $factor) // same calculation as for #boxes .small
        margin-left: 2 * $factor#{px}
      .cell
        float: left
        width: (((($pane-width - 2 * $factor) - (2 * $button-tiny-width)) / 4) - (2 * $factor)) - 2px // same calculation as for #boxes .normal
        margin-left: 2 * $factor#{px}
        .note
          letter-spacing: 4px

